<?xml version="1.0"?>
<config>
    <modules>
        <AppVentus_CommerceConnector>
            <version>0.1.0</version>
        </AppVentus_CommerceConnector>
    </modules>
    <frontend>
        <routers>
            <commerceconnector>
                <use>standard</use>
                <args>
                    <module>AppVentus_CommerceConnector</module>
                    <frontName>commerceconnector</frontName>
                </args>
            </commerceconnector>
        </routers>
        <layout>
            <updates>
                <commerceconnector>
                    <file>commerceconnector.xml</file>
                </commerceconnector>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <commerceconnector>
                <class>AppVentus_CommerceConnector_Helper</class>
            </commerceconnector>
        </helpers>
        <blocks>
            <commerceconnector>
                <class>AppVentus_CommerceConnector_Block</class>
            </commerceconnector>
        </blocks>
    </global>
</config> 